@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IRANSansMedium";
    src: url('../assets/fonts/IRANSansWeb_Medium.9f338149d9f52fe4faab.woff2');
    font-display: 'fallback';
}
@font-face {
    font-family: "IRANSansSmall";
    src: url('../assets/fonts/IRANSansWeb.cdb118d6a351d596a2d7.woff2');
    font-display: 'fallback';
}

* {
    @apply font-[IRANSansMedium] box-border
}
.support-header-container {
    @apply h-[260px] bg-contain bg-no-repeat flex flex-col items-center justify-end pb-6 px-6
}
.support-header-wellcome {
    @apply text-white text-[2rem] text-center pb-2
}
.support-header-help {
    @apply text-white text-lg text-[1.125rem] pb-3
}

.searchArticle-container {
    @apply w-full px-2 flex bg-white items-center h-9 rounded-sm
}
.searchArticle-input {
    @apply px-2 placeholder:text-[#DBDBDB] outline-none
}
