@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IRANSansMedium";
    src: url('../assets/fonts/IRANSansWeb_Medium.9f338149d9f52fe4faab.woff2');
    font-display: 'fallback';
}
@font-face {
    font-family: "IRANSansSmall";
    src: url('../assets/fonts/IRANSansWeb.cdb118d6a351d596a2d7.woff2');
    font-display: 'fallback';
}

* {
    @apply font-[IRANSansMedium] box-border
}
.support-header-container {
    @apply h-[260px] bg-contain bg-no-repeat flex flex-col items-center justify-end pb-6 px-6
}
.support-header-wellcome {
    @apply text-white text-[2rem] text-center pb-2
}
.support-header-help {
    @apply text-white text-lg text-[1.125rem] pb-3
}

.searchArticle-container {
    @apply w-full px-2 flex bg-white items-center h-9 rounded-sm
}
.searchArticle-input {
    @apply px-2 placeholder:text-[#DBDBDB] outline-none
}

.common-questions-container {
    @apply px-4 pt-8 
}
.common-questions-title {
    @apply w-full text-center text-lg mb-6
}

.question-card-container {
    @apply w-full flex items-center border-[1px] rounded-[4px] p-4 border-[#ebebeb] my-4 justify-between
}
.question-card-text {
    @apply leading-9 pl-6
}
.question-card-icon {
    @apply rounded-[50%] hover:bg-[#ebebeb] w-10 h-10 flex justify-center items-center
}

.slider-menu-item {
    @apply cursor-pointer
}

.swiper-slide {
    @apply px-6 py-4 text-red-700 min-w-fit
}

.support-slider-container {
    scrollbar-width: none;
    scroll-behavior: smooth;
    @apply inline-block overflow-x-auto overflow-y-hidden w-full whitespace-nowrap
}

.slider-item {
    transition: background-color 0.5s ease;
    @apply inline-block px-6 py-3 text-[#707070] font-[IRANSansSmall] hover:bg-[#ebebeb]
    cursor-pointer
}
.item-active {
    @apply bg-red-50 text-[#a62626]
}

.support-slider-prev, .support-slider-next {
    @apply absolute top-4 z-10
}
.support-slider-prev {
    @apply right-0
}
.support-slider-next {
    @apply left-0
}
.topic-container {
    @apply border-b border-[#DBDBDB] py-4 cursor-pointer
}
.topic-title-container {
    @apply flex justify-between mb-1
}
.topic-title {
    @apply text-[#707070]
}
.topic-questions-container {
    transition: max-height 0.5s ease;
    @apply max-h-0 overflow-hidden 


}

.open-questions-list {
    transform: scaleY(-1);
    
}
.closed-questions-list {
    transition: transform 0.3s ease;
}
.open-question-container {
    @apply max-h-[800px]
}
.topic-question {
    @apply text-[#a62626] cursor-pointer py-2
}